target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
/pmarlen-development-tasks/PM.sql
/pmarlen-development-tasks/PM.tgz
/pmarlen-development-tasks/PM.tgz.1
/pmarlen-development-tasks/PM.tgz.2
pmarlen-web-ligth/src/main/webapp/WEB-INF/web.xml
pmarlen-web-ligth/src/main/webapp/META-INF/context.xml
